<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.memleak.pomorello">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PomorelloApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Activities -->
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TrelloOuthActivity"
            android:label="@string/title_trello_outh"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".activities.AuthenticateTrelloActivity" />
        <activity android:name=".activities.TasksActivity" />
        <activity android:name=".activities.TimerActivity" />
        <!-- Activities -->

    </application>

</manifest>
